@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation-span-1 {
  from {
    width: 0;
  }
  to {
    width: 65.5%;
  }
}
@keyframes animation-span-3 {
  from {
    width: 0;
  }
  to {
    width: 15.5rem;
  }
}
@keyframes animation-span-2 {
  from {
    height: 0;
  }
  to {
    height: 25rem;
  }
}

@keyframes header {
  0% {
    top: -20rem;
  }

  80% {
    top: 0;
  }
  90% {
    top: -1rem;
  }
  95% {
    top: 0;
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes banner1 {
  from {
    left: -50rem;
  }
  to {
    left: 0;
  }
}

@keyframes banner2 {
  from {
    right: -60rem;
  }
  to {
    right: -10rem;
  }
}
