@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  // Font

  --title-font: "Orbitron", sans-serif;

  --primary-font: "Poppins", sans-serif;

  // Color
  --primary-color: #091423;

  --orange-color: #f06d3e;

  --red-color: #f43b59;

  --second-color: #19314f;

  --gray-color: #646c77;

  --black-color: #000000;

  --white-color: #ffffff;

  --wrapper: 192rem;

  --container: 144rem;
}
