@import "./variable";

@import "./reset";

@import "./common";

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  animation: header 0.7s ease-in forwards;
  padding: 0 20rem;
  .header__content {
    height: 17rem;
    justify-content: space-between;
    align-items: center;

    .logo {
      user-select: none;
      color: var(--white-color);
      font-size: 2.9rem;
      opacity: 0.8;
      font-family: var(--title-font);
      font-weight: 600;

      span {
        opacity: 0;

        animation: fadeIn 1s ease-in forwards;
        animation-delay: 2s;
        padding-right: 1rem;
        font-size: 4rem;
        background: linear-gradient(
          to right,
          var(--orange-color),
          var(--red-color)
        );

        border-bottom-right-radius: 50%;
      }
    }

    .menu__list {
      gap: 6rem;
      .menu__item {
        position: relative;
        opacity: 0.8;
        a {
          transition: 0.3s;
          transform-origin: center;
          position: relative;
          display: block;
          color: var(--white-color);
          font-weight: 500;
        }

        &::after {
          transition: 0.3s;
          transform-origin: center;
          content: "";
          position: absolute;
          width: 0;
          left: 50%;
          height: 0.2rem;
          transform: translateX(-50%);
          background: linear-gradient(
            to right,
            var(--orange-color),
            var(--red-color)
          );
        }

        &:hover {
          opacity: 1;
          &::after {
            width: 120%;
          }
        }
      }
    }
  }

  &::before {
    opacity: 0;
    animation: fadeIn2 1s ease-in forwards;
    animation-delay: 1.5s;
    content: "";
    z-index: -1;
    overflow: auto;
    position: absolute;
    width: 100rem;
    height: 70rem;
    left: 50%;
    transform: translate(-50%, -30rem);

    background: radial-gradient(
      circle,
      var(--orange-color) 0%,
      var(--red-color) 0%,
      transparent 60%
    );
  }
}

.banner {
  position: relative;
  min-height: 110rem;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    width: 100%;

    height: 0.5rem;

    box-shadow: 0 -0.1rem 1.6rem var(--black-color),
      0 -0.2rem 1.6rem var(--black-color), 0 -0.5rem 1.6rem var(--black-color),
      0 0.1rem 1.6rem var(--black-color);
  }

  .banner__content {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 2s;
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      position: relative;
      font-family: var(--title-font);
      font-weight: 700;
      font-size: 8rem;
      color: transparent;
      background: linear-gradient(
        to bottom,
        var(--white-color),
        var(--gray-color)
      );
      background-clip: text;
      -webkit-background-clip: text;

      &::before {
        content: "Champion";
        position: absolute;
        top: -4rem;
        text-transform: uppercase;
        opacity: 0.2;
        left: 50%;
        transform: translateX(-50%) scale(2);
        background: radial-gradient(
          circle,
          var(--gray-color) 0%,
          transparent 60%
        );
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    p {
      font-weight: 400;
      margin-top: 4rem;
      margin-bottom: 6rem;
    }

    a {
      margin: 0 2rem;
    }
  }
  img {
    z-index: 1;
    position: absolute;
    width: 50rem;
    height: 70rem;
    top: 58%;

    transform: translateY(-50%);
  }
  #banner-1 {
    opacity: 0.8;
    mix-blend-mode: hard-light;
    left: -50rem;
    animation: banner1 0.3s ease forwards;
    animation-delay: 1s;
  }
}
.about {
  padding-top: 30rem;
  position: relative;

  .sub-bg:nth-of-type(2) {
    left: -50rem;
  }
  .sub-bg:nth-of-type(3) {
    right: -50rem;
    bottom: 0;
  }

  .about__content[data-scroll="in"] {
    opacity: 1;
    top: 0;
    .icon {
      animation: background 1s forwards;

      animation-delay: 3s;
    }
    .content__left {
      span:nth-of-type(1) {
        position: absolute;
        width: 0;
        height: 1rem;
        left: -30rem;
        top: 0;

        background: linear-gradient(
          to right,
          var(--orange-color),
          var(--red-color)
        );

        box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color);

        animation: animation-span-1 2s forwards ease-in-out;
      }

      span:nth-of-type(2) {
        position: absolute;
        width: 1rem;
        left: 43.5%;
        top: 0;
        background: linear-gradient(
          to right,
          var(--orange-color),
          var(--red-color)
        );

        animation: animation-span-2 1s forwards ease-out;
        box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color);
        animation-delay: 2s;
      }
    }

    .content__right {
      animation: fadeIn 2s forwards ease;

      animation-delay: 3.5s;
    }
  }

  .about__content {
    position: relative;
    align-items: center;
    margin-bottom: 30rem;
    z-index: 2;
    transition: all 0.5s;
    opacity: 0;
    top: 20rem;

    .content__left {
      width: 30%;
      .title_sec,
      .desc_sec {
        background: linear-gradient(
          to right,
          var(--white-color),
          var(--gray-color)
        );

        color: transparent;
        background-clip: text;

        -webkit-background-clip: text;
      }
    }

    .content__right {
      position: relative;
      width: 60rem;
      height: 60rem;

      opacity: 0;
      img {
        position: absolute;
        width: 100%;
        height: 65rem;
        top: -20rem;
        object-fit: cover;
        z-index: 2;
      }

      .tagret {
        position: absolute;
        bottom: 0rem;
        width: 100%;
        height: 15rem;
        background-color: var(--second-color);
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        font-family: var(--title-font);

        h2 {
          font-size: 5rem;
          color: var(--white-color);
          margin-bottom: 1rem;
        }

        &::before {
          content: "";
          position: absolute;
          width: 0.4rem;
          height: 100%;
          background-color: var(--gray-color);
          opacity: 0.5;
        }
      }

      .activity {
        position: absolute;
        bottom: 0rem;
        width: 100%;
        height: 15rem;
        background-color: transparent;
        text-align: center;
        align-items: center;

        justify-content: space-evenly;
        font-family: var(--title-font);

        .content {
          width: 14rem;
          height: 14rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          border-radius: 50%;
          border: solid 1rem transparent;
          background-origin: border-box;
          background-clip: content-box, border-box;

          &:first-child {
            background-image: linear-gradient(
                var(--primary-color),
                var(--primary-color)
              ),
              linear-gradient(
                0deg,
                var(--orange-color) 30%,
                var(--red-color) 50%,
                var(--second-color) 20%
              );
          }

          &:last-child {
            background-image: linear-gradient(
                var(--primary-color),
                var(--primary-color)
              ),
              linear-gradient(
                0deg,
                var(--orange-color) 30%,
                var(--red-color) 80%,
                var(--second-color) 50%
              );
          }
        }

        h2 {
          font-size: 5rem;
          color: var(--white-color);
          margin-bottom: 1rem;
        }
      }

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 2rem;
        box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color),
          -0.1rem -0.1rem 1.6rem var(--orange-color),
          0.2rem 0.2rem 1.6rem var(--orange-color),
          -0.2rem -0.2rem 1.6rem var(--orange-color),
          inset 0.1rem 0.1rem 1.6rem var(--black-color),
          inset -0.1rem -0.1rem 1.6rem var(--black-color);
      }
    }

    &:last-child {
      margin-bottom: 25rem;

      .content__left {
        text-align: right;

        h2,
        p {
          background: linear-gradient(
            to left,
            var(--white-color),
            var(--gray-color)
          );

          color: transparent;
          background-clip: text;

          -webkit-background-clip: text;
        }

        span:nth-of-type(1) {
          position: absolute;
          top: unset;
          left: unset;
          right: -30rem;
          bottom: 0;
        }

        span:nth-of-type(2) {
          position: absolute;
          left: unset;
          right: 44%;
          top: unset;
          bottom: 0;
          height: 0;
        }
      }
    }

    .icon {
      position: relative;
      width: 15rem;
      height: 12rem;
      margin: 0 15rem;
      z-index: 2;
      opacity: 0.2;
      background: linear-gradient(
        to right,
        var(--second-color),
        var(--second-color)
      );
      border-radius: 50%;
      svg {
        position: relative;
        width: 8rem;
        height: 8rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        path {
          fill: var(--white-color);
        }
      }
    }
  }
}

.video {
  position: relative;
  top: 20rem;
  opacity: 0;
  transition: 0.5s;
  &[data-scroll="in"] {
    top: 0rem;
    opacity: 1;
  }
  .sub-bg {
    left: 50%;
    transform: translateX(-50%);
  }
  .video__content {
    text-align: center;
    .text {
      margin: 0 auto;
      width: 30%;

      .title_sec {
        background: linear-gradient(
          to top,
          var(--white-color),
          var(--gray-color)
        );

        color: transparent;
        background-clip: text;

        -webkit-background-clip: text;
      }

      p {
        color: var(--white-color);
        margin-bottom: 10rem;
      }
    }

    .media {
      position: relative;
      border: 0.5rem solid var(--second-color);
      border-radius: 10rem;
      overflow: hidden;
      box-shadow: inset 0.1rem 0.1rem 1.6rem var(--black-color),
        inset -0.1rem -0.1rem 1.6rem var(--black-color);
    }
    video {
      width: 80%;

      object-fit: cover;
    }

    i {
      position: absolute;
      width: 10rem;
      height: 10rem;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      font-size: 10rem;
      color: var(--red-color);
    }
  }
}
@import "./animation";
