@import "./variable";

@import "./reset";

@import "./common";

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  animation: header 0.7s ease-in forwards;
  padding: 0 20rem;
  .header__content {
    height: 17rem;
    justify-content: space-between;
    align-items: center;

    .logo {
      user-select: none;
      color: var(--white-color);
      font-size: 2.9rem;
      opacity: 0.8;
      font-family: var(--title-font);
      font-weight: 600;

      span {
        opacity: 0;

        animation: fadeIn 0.5s ease-in forwards;
        animation-delay: 1.5s;
        padding-right: 1rem;
        font-size: 4rem;
        background: linear-gradient(
          to right,
          var(--orange-color),
          var(--red-color)
        );

        border-bottom-right-radius: 50%;
      }
    }

    .menu__list {
      gap: 6rem;
      .menu__item {
        position: relative;
        a {
          transition: 0.3s;
          transform-origin: center;
          position: relative;
          display: block;
          color: var(--white-color);
          font-weight: 500;
        }

        &::after {
          transition: 0.3s;
          transform-origin: center;
          content: "";
          position: absolute;
          width: 0;
          left: 50%;
          height: 0.2rem;
          transform: translateX(-50%);
          background: linear-gradient(
            to right,
            var(--orange-color),
            var(--red-color)
          );
        }

        &:hover {
          &::after {
            width: 120%;
          }
          a {
            background: linear-gradient(
              to right,
              var(--orange-color),
              var(--red-color)
            );

            background-clip: text;

            -webkit-background-clip: text;

            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }

  &::before {
    content: "";
    z-index: -1;
    overflow: auto;
    position: absolute;
    width: 100rem;
    height: 70rem;
    left: 50%;
    opacity: 0.2;
    transform: translate(-50%, -30rem);

    background: radial-gradient(
      circle,
      var(--orange-color) 0%,
      var(--red-color) 0%,
      transparent 60%
    );
  }
}

.banner {
  position: relative;
  min-height: 100rem;
  overflow: hidden;

  .banner__content {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 1.5s;
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      position: relative;
      font-family: var(--title-font);
      font-weight: 700;
      font-size: 8rem;
      color: transparent;
      background: linear-gradient(
        to bottom,
        var(--white-color),
        var(--gray-color)
      );
      background-clip: text;
      -webkit-background-clip: text;

      &::before {
        content: "Champion";
        position: absolute;
        top: -4rem;
        text-transform: uppercase;
        opacity: 0.2;
        left: 50%;
        transform: translateX(-50%) scale(2);
        background: radial-gradient(
          circle,
          var(--gray-color) 0%,
          transparent 60%
        );
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    p {
      font-weight: 400;
      margin-top: 4rem;
      margin-bottom: 6rem;
    }

    a {
      margin: 0 2rem;
    }
  }
  img {
    z-index: 1;
    position: absolute;
    width: 50rem;
    height: 70rem;
    top: 75%;

    transform: translateY(-50%);
  }
  #banner-1 {
    opacity: 0.8;
    mix-blend-mode: hard-light;
    left: -50rem;
    animation: banner1 0.3s ease forwards;
    animation-delay: 1s;
  }

  #banner-2 {
    opacity: 0.6;
    width: 60rem;
    height: 60rem;
    mix-blend-mode: soft-light;
    right: -60rem;
    top: 60%;
    animation: banner2 0.3s ease forwards;
    animation-delay: 1s;
  }

  svg {
    position: absolute;
    bottom: 0;
    z-index: 1;
    .sub-bg-1 {
      fill: var(--orange-color);
    }

    .sub-bg-2 {
      opacity: 0.6;
      fill: var(--red-color);
      transform: translateY(-1rem) scale(1, 1.2);
    }
  }
}
.about {
  padding-top: 45rem;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    width: 100rem;
    height: 70rem;
    opacity: 0.3;
    left: -50rem;
    background: radial-gradient(
      circle,
      var(--orange-color) 0%,
      var(--red-color) 0%,
      transparent 60%
    );
  }

  &::after {
    content: "";
    position: absolute;
    width: 100rem;
    height: 70rem;
    opacity: 0.3;
    z-index: 1;
    right: -50rem;
    bottom: 0;
    background: radial-gradient(
      circle,
      var(--orange-color) 0%,
      var(--red-color) 0%,
      transparent 60%
    );
  }
  #sub-bg {
    position: absolute;
    width: 100%;
    top: 0;
    height: 15rem;
    border-bottom-right-radius: 30%;
    background: linear-gradient(
      to bottom,
      var(--orange-color),
      transparent 90%
    );

    &::before {
      content: "";
      opacity: 1;
      position: absolute;
      width: 100%;
      top: -5.5rem;

      right: 0;
      border-top-left-radius: 100%;
      height: 15rem;
      background: linear-gradient(to bottom, var(--red-color), transparent);
    }
  }

  .about__content {
    display: none;
    position: relative;
    align-items: center;
    margin-bottom: 40rem;
    z-index: 2;

    .content__left {
      width: 30%;

      h2 {
        font-family: var(--title-font);
        font-size: 4rem;

        background: linear-gradient(
          to right,
          var(--white-color),
          var(--gray-color)
        );

        color: transparent;
        background-clip: text;

        -webkit-background-clip: text;
      }

      p {
        background: linear-gradient(
          to right,
          var(--white-color),
          var(--gray-color)
        );

        color: transparent;
        background-clip: text;

        -webkit-background-clip: text;
        margin: 4rem 0;
      }

      span {
        transition: 0.3s;
      }

      span:nth-of-type(1) {
        position: absolute;
        width: 0;
        height: 1rem;
        left: -30rem;
        top: 0;

        background: linear-gradient(
          to right,
          var(--orange-color),
          var(--red-color)
        );

        box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color);

        animation: animation-span-1 2s forwards ease-in-out;
      }

      span:nth-of-type(2) {
        position: absolute;
        width: 1rem;
        left: 44%;
        top: 0;
        background: linear-gradient(
          to right,
          var(--orange-color),
          var(--red-color)
        );

        animation: animation-span-2 1s forwards ease-out;
        box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color);
        animation-delay: 2s;
      }
    }

    .content__right {
      position: relative;
      width: 60rem;
      height: 60rem;

      opacity: 0;

      animation: fadeIn 2s forwards ease-in-out;

      animation-delay: 3s;
      img {
        position: absolute;
        width: 100%;
        height: 65rem;
        top: -20rem;
        object-fit: cover;
        z-index: 2;
      }

      .tagret {
        position: absolute;
        bottom: 0rem;
        width: 100%;
        height: 15rem;
        background-color: var(--second-color);
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        font-family: var(--title-font);

        h2 {
          font-size: 5rem;
          color: var(--white-color);
          margin-bottom: 1rem;
        }

        &::before {
          content: "";
          position: absolute;
          width: 0.4rem;
          height: 100%;
          background-color: var(--gray-color);
          opacity: 0.5;
        }
      }

      .activity {
        position: absolute;
        bottom: 0rem;
        width: 100%;
        height: 15rem;
        background-color: transparent;
        text-align: center;
        align-items: center;

        justify-content: space-evenly;
        font-family: var(--title-font);

        .content {
          width: 14rem;
          height: 14rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          border-radius: 50%;
          border: solid 1rem transparent;
          background-origin: border-box;
          background-clip: content-box, border-box;

          &:first-child {
            background-image: linear-gradient(
                var(--primary-color),
                var(--primary-color)
              ),
              linear-gradient(
                0deg,
                var(--orange-color) 30%,
                var(--red-color) 50%,
                var(--second-color) 20%
              );
          }

          &:last-child {
            background-image: linear-gradient(
                var(--primary-color),
                var(--primary-color)
              ),
              linear-gradient(
                0deg,
                var(--orange-color) 30%,
                var(--red-color) 80%,
                var(--second-color) 50%
              );
          }
        }

        h2 {
          font-size: 5rem;
          color: var(--white-color);
          margin-bottom: 1rem;
        }
      }

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 2rem;
        box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color),
          -0.1rem -0.1rem 1.6rem var(--orange-color),
          0.2rem 0.2rem 1.6rem var(--orange-color),
          -0.2rem -0.2rem 1.6rem var(--orange-color);
      }
    }

    &:last-child {
      display: none;
      .content__right {
        animation-delay: 3s;
      }

      .content__left {
        height: 100%;
        text-align: right;
        h2 {
          font-family: var(--title-font);
          font-size: 4rem;

          background: linear-gradient(
            to left,
            var(--white-color),
            var(--gray-color)
          );

          color: transparent;
          background-clip: text;

          -webkit-background-clip: text;
        }

        p {
          background: linear-gradient(
            to left,
            var(--white-color),
            var(--gray-color)
          );

          color: transparent;
          background-clip: text;

          -webkit-background-clip: text;
          margin: 4rem 0;
        }

        span:nth-of-type(1) {
          position: absolute;
          top: unset;
          left: unset;
          right: -30rem;
          bottom: 0;
        }

        span:nth-of-type(2) {
          position: absolute;
          left: unset;
          right: 44%;
          top: unset;
          bottom: 0;
          height: 0;
        }
      }
    }

    .icon {
      position: relative;
      width: 15rem;
      height: 12rem;
      margin: 0 15rem;
      z-index: 2;

      background: linear-gradient(
        to right,
        var(--orange-color),
        var(--red-color)
      );

      border-radius: 50%;
      svg {
        position: relative;
        width: 8rem;
        height: 8rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        path {
          fill: var(--white-color);
        }
      }
    }
  }
}
@import "./animation";
