@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --title-font: "Orbitron", sans-serif;
  --primary-font: "Poppins", sans-serif;
  --primary-color: #091423;
  --orange-color: #f06d3e;
  --red-color: #f43b59;
  --second-color: #19314f;
  --gray-color: #646c77;
  --black-color: #000000;
  --white-color: #ffffff;
  --wrapper: 192rem;
  --container: 144rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  font-size: 1.8rem;
  color: var(--gray-color);
  font-family: var(--primary-font);
}

.wrapper {
  position: relative;
  max-width: var(--wrapper);
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--primary-color);
}

.container {
  position: relative;
  max-width: var(--container);
  padding: 0 2rem;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  display: inline-block;
  font-family: var(--title-font);
  padding: 1.5rem 3rem;
  margin: 2rem 0;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, from(var(--orange-color)), to(var(--red-color)));
  background: linear-gradient(to right, var(--orange-color), var(--red-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(to right, var(--orange-color), var(--red-color));
     border-image: -webkit-gradient(linear, left top, right top, from(var(--orange-color)), to(var(--red-color)));
     border-image: linear-gradient(to right, var(--orange-color), var(--red-color));
  border-image-slice: 1;
  border-image-outset: 2;
}

.btn:hover:not(.btn--bg) {
  background-clip: inherit;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: var(--white-color);
  color: var(--white-color);
}

.btn--bg {
  background-clip: inherit;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: var(--white-color);
  color: var(--white-color);
}

.btn--bg:hover {
  background: -webkit-gradient(linear, left top, right top, from(var(--red-color)), to(var(--orange-color)));
  background: linear-gradient(to right, var(--red-color), var(--orange-color));
}

.title_sec {
  font-family: var(--title-font);
  font-size: 4rem;
}

.desc_sec {
  margin: 4rem 0;
}

.sub-bg {
  content: "";
  position: absolute;
  width: 100rem;
  height: 70rem;
  opacity: 0.3;
  background: radial-gradient(circle, var(--orange-color) 0%, var(--red-color) 0%, transparent 60%);
}

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  -webkit-animation: header 0.7s ease-in forwards;
          animation: header 0.7s ease-in forwards;
  padding: 0 20rem;
}

.header .header__content {
  height: 17rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__content .logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--white-color);
  font-size: 2.9rem;
  opacity: 0.8;
  font-family: var(--title-font);
  font-weight: 600;
}

.header .header__content .logo span {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in forwards;
          animation: fadeIn 1s ease-in forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  padding-right: 1rem;
  font-size: 4rem;
  background: -webkit-gradient(linear, left top, right top, from(var(--orange-color)), to(var(--red-color)));
  background: linear-gradient(to right, var(--orange-color), var(--red-color));
  border-bottom-right-radius: 50%;
}

.header .header__content .menu__list {
  gap: 6rem;
}

.header .header__content .menu__list .menu__item {
  position: relative;
  opacity: 0.8;
}

.header .header__content .menu__list .menu__item a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: relative;
  display: block;
  color: var(--white-color);
  font-weight: 500;
}

.header .header__content .menu__list .menu__item::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  height: 0.2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, right top, from(var(--orange-color)), to(var(--red-color)));
  background: linear-gradient(to right, var(--orange-color), var(--red-color));
}

.header .header__content .menu__list .menu__item:hover {
  opacity: 1;
}

.header .header__content .menu__list .menu__item:hover::after {
  width: 120%;
}

.header::before {
  opacity: 0;
  -webkit-animation: fadeIn2 1s ease-in forwards;
          animation: fadeIn2 1s ease-in forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  content: "";
  z-index: -1;
  overflow: auto;
  position: absolute;
  width: 100rem;
  height: 70rem;
  left: 50%;
  -webkit-transform: translate(-50%, -30rem);
          transform: translate(-50%, -30rem);
  background: radial-gradient(circle, var(--orange-color) 0%, var(--red-color) 0%, transparent 60%);
}

.banner {
  position: relative;
  min-height: 110rem;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  width: 100%;
  height: 0.5rem;
  -webkit-box-shadow: 0 -0.1rem 1.6rem var(--black-color), 0 -0.2rem 1.6rem var(--black-color), 0 -0.5rem 1.6rem var(--black-color), 0 0.1rem 1.6rem var(--black-color);
          box-shadow: 0 -0.1rem 1.6rem var(--black-color), 0 -0.2rem 1.6rem var(--black-color), 0 -0.5rem 1.6rem var(--black-color), 0 0.1rem 1.6rem var(--black-color);
}

.banner .banner__content {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in forwards;
          animation: fadeIn 1s ease-in forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.banner .banner__content h1 {
  position: relative;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 8rem;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--gray-color)));
  background: linear-gradient(to bottom, var(--white-color), var(--gray-color));
  background-clip: text;
  -webkit-background-clip: text;
}

.banner .banner__content h1::before {
  content: "Champion";
  position: absolute;
  top: -4rem;
  text-transform: uppercase;
  opacity: 0.2;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(2);
          transform: translateX(-50%) scale(2);
  background: radial-gradient(circle, var(--gray-color) 0%, transparent 60%);
  background-clip: text;
  -webkit-background-clip: text;
}

.banner .banner__content p {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.banner .banner__content a {
  margin: 0 2rem;
}

.banner img {
  z-index: 1;
  position: absolute;
  width: 50rem;
  height: 70rem;
  top: 58%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner #banner-1 {
  opacity: 0.8;
  mix-blend-mode: hard-light;
  left: -50rem;
  -webkit-animation: banner1 0.3s ease forwards;
          animation: banner1 0.3s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.about {
  padding-top: 30rem;
  position: relative;
}

.about .sub-bg:nth-of-type(2) {
  left: -50rem;
}

.about .sub-bg:nth-of-type(3) {
  right: -50rem;
  bottom: 0;
}

.about .about__content[data-scroll="in"] {
  opacity: 1;
  top: 0;
}

.about .about__content[data-scroll="in"] .icon {
  -webkit-animation: background 1s forwards;
          animation: background 1s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.about .about__content[data-scroll="in"] .content__left span:nth-of-type(1) {
  position: absolute;
  width: 0;
  height: 1rem;
  left: -30rem;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(var(--orange-color)), to(var(--red-color)));
  background: linear-gradient(to right, var(--orange-color), var(--red-color));
  -webkit-box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color);
          box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color);
  -webkit-animation: animation-span-1 2s forwards ease-in-out;
          animation: animation-span-1 2s forwards ease-in-out;
}

.about .about__content[data-scroll="in"] .content__left span:nth-of-type(2) {
  position: absolute;
  width: 1rem;
  left: 43.5%;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(var(--orange-color)), to(var(--red-color)));
  background: linear-gradient(to right, var(--orange-color), var(--red-color));
  -webkit-animation: animation-span-2 1s forwards ease-out;
          animation: animation-span-2 1s forwards ease-out;
  -webkit-box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color);
          box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.about .about__content[data-scroll="in"] .content__right {
  -webkit-animation: fadeIn 2s forwards ease;
          animation: fadeIn 2s forwards ease;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.about .about__content {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30rem;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  top: 20rem;
}

.about .about__content .content__left {
  width: 30%;
}

.about .about__content .content__left .title_sec,
.about .about__content .content__left .desc_sec {
  background: -webkit-gradient(linear, left top, right top, from(var(--white-color)), to(var(--gray-color)));
  background: linear-gradient(to right, var(--white-color), var(--gray-color));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.about .about__content .content__right {
  position: relative;
  width: 60rem;
  height: 60rem;
  opacity: 0;
}

.about .about__content .content__right img {
  position: absolute;
  width: 100%;
  height: 65rem;
  top: -20rem;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.about .about__content .content__right .tagret {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 15rem;
  background-color: var(--second-color);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: var(--title-font);
}

.about .about__content .content__right .tagret h2 {
  font-size: 5rem;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.about .about__content .content__right .tagret::before {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 100%;
  background-color: var(--gray-color);
  opacity: 0.5;
}

.about .about__content .content__right .activity {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 15rem;
  background-color: transparent;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: var(--title-font);
}

.about .about__content .content__right .activity .content {
  width: 14rem;
  height: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
  border: solid 1rem transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.about .about__content .content__right .activity .content:first-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary-color)), to(var(--primary-color))), -webkit-gradient(linear, left bottom, left top, color-stop(30%, var(--orange-color)), color-stop(50%, var(--red-color)), color-stop(20%, var(--second-color)));
  background-image: linear-gradient(var(--primary-color), var(--primary-color)), linear-gradient(0deg, var(--orange-color) 30%, var(--red-color) 50%, var(--second-color) 20%);
}

.about .about__content .content__right .activity .content:last-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary-color)), to(var(--primary-color))), -webkit-gradient(linear, left bottom, left top, color-stop(30%, var(--orange-color)), color-stop(80%, var(--red-color)), color-stop(50%, var(--second-color)));
  background-image: linear-gradient(var(--primary-color), var(--primary-color)), linear-gradient(0deg, var(--orange-color) 30%, var(--red-color) 80%, var(--second-color) 50%);
}

.about .about__content .content__right .activity h2 {
  font-size: 5rem;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.about .about__content .content__right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 2rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color), -0.1rem -0.1rem 1.6rem var(--orange-color), 0.2rem 0.2rem 1.6rem var(--orange-color), -0.2rem -0.2rem 1.6rem var(--orange-color), inset 0.1rem 0.1rem 1.6rem var(--black-color), inset -0.1rem -0.1rem 1.6rem var(--black-color);
          box-shadow: 0.1rem 0.1rem 1.6rem var(--orange-color), -0.1rem -0.1rem 1.6rem var(--orange-color), 0.2rem 0.2rem 1.6rem var(--orange-color), -0.2rem -0.2rem 1.6rem var(--orange-color), inset 0.1rem 0.1rem 1.6rem var(--black-color), inset -0.1rem -0.1rem 1.6rem var(--black-color);
}

.about .about__content:last-child {
  margin-bottom: 25rem;
}

.about .about__content:last-child .content__left {
  text-align: right;
}

.about .about__content:last-child .content__left h2,
.about .about__content:last-child .content__left p {
  background: -webkit-gradient(linear, right top, left top, from(var(--white-color)), to(var(--gray-color)));
  background: linear-gradient(to left, var(--white-color), var(--gray-color));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.about .about__content:last-child .content__left span:nth-of-type(1) {
  position: absolute;
  top: unset;
  left: unset;
  right: -30rem;
  bottom: 0;
}

.about .about__content:last-child .content__left span:nth-of-type(2) {
  position: absolute;
  left: unset;
  right: 44%;
  top: unset;
  bottom: 0;
  height: 0;
}

.about .about__content .icon {
  position: relative;
  width: 15rem;
  height: 12rem;
  margin: 0 15rem;
  z-index: 2;
  opacity: 0.2;
  background: -webkit-gradient(linear, left top, right top, from(var(--second-color)), to(var(--second-color)));
  background: linear-gradient(to right, var(--second-color), var(--second-color));
  border-radius: 50%;
}

.about .about__content .icon svg {
  position: relative;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about .about__content .icon svg path {
  fill: var(--white-color);
}

.video {
  position: relative;
  top: 20rem;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.video[data-scroll="in"] {
  top: 0rem;
  opacity: 1;
}

.video .sub-bg {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.video .video__content {
  text-align: center;
}

.video .video__content .text {
  margin: 0 auto;
  width: 30%;
}

.video .video__content .text .title_sec {
  background: -webkit-gradient(linear, left bottom, left top, from(var(--white-color)), to(var(--gray-color)));
  background: linear-gradient(to top, var(--white-color), var(--gray-color));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.video .video__content .text p {
  color: var(--white-color);
  margin-bottom: 10rem;
}

.video .video__content .media {
  position: relative;
  border: 0.5rem solid var(--second-color);
  border-radius: 10rem;
  overflow: hidden;
  -webkit-box-shadow: inset 0.1rem 0.1rem 1.6rem var(--black-color), inset -0.1rem -0.1rem 1.6rem var(--black-color);
          box-shadow: inset 0.1rem 0.1rem 1.6rem var(--black-color), inset -0.1rem -0.1rem 1.6rem var(--black-color);
}

.video .video__content video {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video .video__content i {
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 10rem;
  color: var(--red-color);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

@-webkit-keyframes animation-span-1 {
  from {
    width: 0;
  }
  to {
    width: 65.5%;
  }
}

@keyframes animation-span-1 {
  from {
    width: 0;
  }
  to {
    width: 65.5%;
  }
}

@-webkit-keyframes animation-span-2 {
  from {
    height: 0;
  }
  to {
    height: 24rem;
  }
}

@keyframes animation-span-2 {
  from {
    height: 0;
  }
  to {
    height: 24rem;
  }
}

@-webkit-keyframes header {
  0% {
    top: -20rem;
  }
  80% {
    top: 0;
  }
  90% {
    top: -1rem;
  }
  95% {
    top: 0;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes header {
  0% {
    top: -20rem;
  }
  80% {
    top: 0;
  }
  90% {
    top: -1rem;
  }
  95% {
    top: 0;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes banner1 {
  from {
    left: -50rem;
  }
  to {
    left: 15rem;
  }
}

@keyframes banner1 {
  from {
    left: -50rem;
  }
  to {
    left: 15rem;
  }
}

@-webkit-keyframes banner2 {
  from {
    right: -60rem;
  }
  to {
    right: -10rem;
  }
}

@keyframes banner2 {
  from {
    right: -60rem;
  }
  to {
    right: -10rem;
  }
}

@-webkit-keyframes background {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
    background: -webkit-gradient(linear, left top, right top, from(var(--orange-color)), to(var(--red-color)));
    background: linear-gradient(to right, var(--orange-color), var(--red-color));
  }
}

@keyframes background {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
    background: -webkit-gradient(linear, left top, right top, from(var(--orange-color)), to(var(--red-color)));
    background: linear-gradient(to right, var(--orange-color), var(--red-color));
  }
}
/*# sourceMappingURL=style.css.map */